<?xml version="1.0"?>
<model>
  <name>amr</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Synergy</name>
    <email>synergy@example.com</email>
  </author>
  <description>
    Differential Drive Autonomous Mobile Robot (AMR) equipped with 2D LiDAR, IMU, and Contact Sensor.
  </description>
</model>
