<?xml version="1.0"?>
<model>
  <name>pallet_stack</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Synergy</name>
    <email>synergy@example.com</email>
  </author>
  <description>
    Industrial Wooden Pallet Cargo Stack with Labeled Shipping Cartons.
  </description>
</model>
